// ======
// COLORS
// ======

$primary-500: hsl(172, 67%, 45%);

$neutral-900: hsl(182, 100%, 6%);
$neutral-700: hsl(183, 100%, 15%);
$neutral-500: hsl(186, 14%, 43%);
$neutral-300: hsl(184, 14%, 56%);
$neutral-200: hsl(185, 41%, 84%);
$neutral-100: hsl(189, 41%, 97%);

// ==========
// TYPOGRAPHY
// ==========

$font-text: "Space Mono", monospace, sans-serif;

// =======================
// TEXT AND HEADINGS SIZES
// =======================

$txt-size: 24px;

// ====================================
// BREAKPOINTS AND CONTAINERS MAX-WIDTH
// ====================================

$large-container-width: 1440px;
