/* =======================
   RAW TAGS DEFAULT STYLES
   ======================= */

html {
  box-sizing: border-box;

  color: $neutral-900;
  font-family: $font-text;
  font-size: 1rem;
  font-weight: 400;

  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  background: $neutral-200;
}

section {
  max-width: $large-container-width;
  margin: auto;
}

header {
  padding: 4rem;

  text-align: center;
}

main {
  justify-content: flex-start;

  margin: 0 0 2rem 0
}

form {
  display: flex;

  & > div {
    flex: 1;
  }
}

p,
label {
  font-size: $txt-size;
  font-weight: 700;
}

p {
  margin: 0 0 0.5rem 0;

  color: white;
}

label {
  display: block;

  margin: 0 0 0.5rem 0;

  color: $neutral-500;
}

input,
button {
  border: none;

  font-size: 1.2 * $txt-size;
}

input {
  text-align: right;

  background: $neutral-100;
}

button {
  padding: 0.5rem;
  border-radius: 0.25rem;

  color: white;
  text-align: center;

  background: $neutral-700;
  cursor: pointer;
}
